<div class="footer-wrapper">
  <footer role="contentinfo">
    <span>
    © 2023 eolvvin<!--a href="https://{{ site.github_username| cgi_escape | escape }}.github.io">{{ site.github_username| cgi_escape | escape }}</a-->
    </span>
    <!--ul class="social-media-list">
      {%- if site.github_username -%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>{%- endif -%}
      {%- if site.tumblr_username -%}<li><a href="https://{{ site.tumblr_username| cgi_escape | escape }}.tumblr.com/"><i class="fa fa-tumblr-square" aria-hidden="true"></i></a></li>{%- endif -%}
      {%- if site.wordpress_username -%}<li><a href="https://{{ site.soundcloud_username| cgi_escape | escape }}.wordpress.com/"><i class="fa fa-wordpress" aria-hidden="true"></i></a></li>{%- endif -%}
      {%- if site.soundcloud_username -%}<li><a href="https://soundcloud.com/{{ site.soundcloud_username| cgi_escape | escape }}/"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>{%- endif -%}
      {%- if site.pinterest_username -%}<li><a href="https://pinterest.com/{{ site.soundcloud_username| cgi_escape | escape }}/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>{%- endif -%}
      {%- if site.twitter_username -%}<li><a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{%- endif -%}
      {%- if site.instagram_username -%}<li><a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>{%- endif -%}
    </ul-->
  </footer>
</div><!-- /.footer-wrapper -->
