<head>
	<meta charset="UTF-8">
	<title>Gravity III Graphics</title>
	<meta name="description" content="Learn Basic Graphics">
	<meta name="keywords" content="learn computer programming graphics">
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<link rel="icon" type="image/x-icon" href="./imgs/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro|Volkhov|Asap|Overpass+Mono&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://gravitygraphics.github.io/css/index.css">
	<link rel="stylesheet" href="https://eolvvin.github.io/css/gravitygraphics_blog.css">
	<script src="https://gravitygraphics.github.io/lib/JQuery/jquery-3.6.0.min.js"></script>
	<script src="https://gravitygraphics.github.io/js/index.js"></script>
</head>