      
<div class="navigation-wrapper">
    <nav role="navigation" id="site-nav">
        <div class="main-nav">
            <span class="nav-item">
                    <a href="https://eolvvin.github.io/"><span class="nav-icon"><i class="fa fa-star" aria-hidden="true"></i></span> About</a>
            </span>
            <span class="nav-item">
					<a href="https://eolvvin.github.io/projects/" title="Atom/RSS feed"><span class="nav-icon" aria-hidden="true"><i class="fa fa-cog"></i></span> Projects</a>
			</span>
            <span class="nav-item">
					<a href="https://eolvvin.github.io/portfolio/"><span class="nav-icon"><i class="fa fa-bars" aria-hidden="true"></i></span> Past</a>
            </span>
            <span class="nav-item">
                    <a href="https://eolvvin.github.io/blog/"><span class="nav-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span> Blog</a>
            </span>
        </div>
    </nav>
</div><!-- /.navigation-wrapper -->
		

<header>
 </header>
 
 